

  @media screen and (max-width: 850px) {
    .header__nav__logo  {
        flex-direction: column;
    }

    .portfolio__container {
        justify-content: center;
        padding-top: 10px;
    }

    .portfolio {
        min-height: 250px;
        min-width: 250px;
      }

      .header__nav__list {
        display: none;
      }

      .mobile__nav__close {
        display: flex;
        flex-direction: column;
      }

      .menu--visible {
        display: flex;
      }

      .menu--overlay {
        display: none;
      }

      .container {
        justify-content: space-between;
        align-items: center;
      }
    
  }